<ol class="breadcrumb">
  <li><a href="">{{data.organo}}</a></li>
  <li><a href="">{{data.area}}</a></li>
  <li class="active">{{data.capitulo}}</li>
</ol>

<span class="pull-right"><i class="fa fa-calendar"></i>&nbsp;{{formalizeDate(data.fecha)}}</span>
<h2 class="sub-header">{{data.partida}}</h2>
<h4>Credito inicial</h4>
{{data.creditoInicial}} €
<h4>Moficación en crédito</h4>
{{data.creditoModificacion}} €
<h4>Crédito definitivo</h4>
{{data.creditoDefinitivo}} €
<h4>Gasto comprometido</h4>
{{data.gastoComprometido}} €
<h4>Obligación neta</h4>
{{data.obligacionNeta}} €
<h4>Pago neto</h4>
{{data.pagoNeto}} €
<h4>Pendiente de pago</h4>
{{data.obligacionPendientePago}} €
<h4>Remanente de crédito</h4>
{{data.remanenteDeCredito}} €
<h4>Concepto</h4>
{{data.concepto}}
