<ol class="breadcrumb">
  <li><a href="">{{data.concepto}}</a></li>
  <li class="active">{{data.capitulo}}</li>
</ol>

<span class="pull-right"><i class="fa fa-calendar"></i>&nbsp;{{formalizeDate(data.fecha)}}</span>
<h2 class="sub-header">{{data.aplicacion}}</h2>
<h4>Previsión inicial</h4>
{{data.previsionInicial}} €
<h4>Modificación en previsión</h4>
{{data.previsionModificacion}} €
<h4>Prevision definitiva</h4>
{{data.previsionDefinitivo}} €
<h4>Derechos reconocidos</h4>
{{data.derechosReconocidos}} €
<h4>Derechos anulados y devoluciones</h4>
{{data.derechosAnuladosYDevoluciones}} €
<h4>Derechos cancelados</h4>
{{data.derechosCancelados}} €
<h4>Derechos reconocidos netos</h4>
{{data.derechosReconocidosNetos}} €
<h4>Recaudación neta</h4>
{{data.recaudacionNeta}} €
<h4>Derechos pendientes de cobro</h4>
{{data.derechosPendientesCobro}} €
<h4>Exceso o defecto de precisión</h4>
{{data.excesoDefectoPrevision}} €