<h1 class="page-header"><i class="fa fa-globe"></i> Inicio</h1>

<div class="well"><i class="fa fa-question-circle"></i> Consulta nuestra página de ayuda sobre como usar este sitio web <a href="#/ayuda">aquí</a></div>

<div class="row">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
         <div class="icon text-center text-primary">
            <i class="fa-5x fa fa-file-text-o"></i>
         </div>
         <hr style="margin-bottom:0px">
         <div class="caption">
           <h3>Facturas</h3> 
           <p>Muestra el conjunto de las facturas del ayuntamiento e informacion relativa a estas.</p>
           <p><a href="#/datos/sector-publico/factura" class="btn btn-primary btn-block" role="button">Acceder</a></p>
         </div>
      </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
         <div class="icon text-center text-primary">
            <i class="fa-5x fa fa-money"></i>
         </div>
         <hr style="margin-bottom:0px">
         <div class="caption">
           <h3>Ingresos</h3> 
           <p>Muestra el conjunto de ingresos del ayuntamiento e informacion sobre estos.</p>
           <p><a href="#/datos/sector-publico/presupuesto/ingreso-corriente" class="btn btn-primary btn-block" role="button">Acceder</a></p>
         </div>
      </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
         <div class="icon text-center text-primary">
            <i class="fa-5x fa fa-credit-card"></i>
         </div>
         <hr style="margin-bottom:0px">
         <div class="caption">
           <h3>Gastos</h3> 
           <p>Muestra el conjunto de gastos del ayuntamiento e informacion sobre estos.</p>
           <p><a href="#/datos/sector-publico/presupuesto/gasto-corriente" class="btn btn-primary btn-block" role="button">Acceder</a></p>
         </div>
      </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
         <div class="icon text-center text-primary">
            <i class="fa-5x fa fa-microphone"></i>
         </div>
         <hr style="margin-bottom:0px">
         <div class="caption">
           <h3>Anuncios Municipales</h3> 
           <p>Información acerca de los distintos eventos y reuniones del ayuntamiento para la toma de decisiones sobre distintos temas municipales.</p>
           <p><a href="#/datos/sector-publico/anuncio-municipal" class="btn btn-primary btn-block" role="button">Acceder</a></p>
         </div>
      </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
         <div class="icon text-center text-primary">
            <i class="fa-5x fa fa-sitemap"></i>
         </div>
         <hr style="margin-bottom:0px">
         <div class="caption">
           <h3>Normativa Municipal</h3> 
           <p>Muestra información de carácter legal en cuanto a la normativa municipal a la que se acoge el ayuntamiento y sus ciudadanos.</p>
           <p><a href="#/datos/sector-publico/normativa-municipal" class="btn btn-primary btn-block" role="button">Acceder</a></p>
         </div>
      </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
         <div class="icon text-center text-primary">
            <i class="fa-5x fa fa-street-view"></i>
         </div>
         <hr style="margin-bottom:0px">
         <div class="caption">
           <h3>Propuestas Ciudadanas</h3> 
           <p>Conjunto de propuestas hechas por por los ciudadanos al ayuntamiento. Tambien están a disposicion los comentarios sobre cada una de las propuestas.</p>
           <p><a href="#/datos/gobierno-abierto/propuesta" class="btn btn-primary btn-block" role="button">Acceder</a></p>
         </div>
      </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
         <div class="icon text-center text-primary">
            <i class="fa-5x fa fa-home"></i>
         </div>
         <hr style="margin-bottom:0px">
         <div class="caption">
           <h3>Adopcion Animales</h3> 
           <p>Animales en adopcion de distintas especies. Adopta un animal.</p>
           <p><a href="#/datos/medio-ambiente/animal-en-adopcion" class="btn btn-primary btn-block" role="button">Acceder</a></p>
         </div>
      </div>
  </div>

 </div>
